



* h1 {
    font-family: 'Bree GRK';
    font-size:3.5rem; 
    font-weight: 600;
  }
  * p {
    font-family: Encode Sans, sans-serif; 
    font-size: 30px;
    font-weight: 600;
  }

  .logoWhatsapp{
    
    position:fixed; 
    right:3rem;
    bottom:3rem;
}

.hero {
    display: flex;
    flex-direction: column;
    background-image: url('/backgroundCer.png');
    background-size: cover;
    text-align: center;
    padding: 100px 20px;
}

.hero h1{
  
  color: #1b1464 ;
  
  font-size: 4rem;
  font-weight: bold;
  
  font-family: 'Bree GRK';
  }
  .hero p{
    color:#fff ;
    margin-bottom: 3rem;
  }
  .buttonHero {
    text-align: center;
    width: 30%;
    background-Color:#1b1464;
    color: #fff;
    padding: 15px 30px;
    border-Radius: 5px;
    text-Decoration: none;
    font-size: 20px;
    font-weight: bolder;
    margin: 0 auto;
  }
  .contentCer{
    text-align: center;
    padding-bottom: 3rem;
    background-color: #fff;

    
  }
  .contentCer h1{
    color:#1b1464 ;
    padding-bottom: 2rem;
  }
  .itensContentCer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .item{
    text-align: center;
    width: 25%;
    border: #FFD700 2px solid;
    padding: 1.5rem;
    border-radius: 10px;
  }
  .item h2{
    font-family: Encode Sans, sans-serif; 
    font-size: 25px;
    font-weight: 600;
  }
  .item span{
    font-family: Encode Sans, sans-serif; 
    font-size: 18px;
    font-weight: 400;
    color: rgb(85, 87, 87);
  }
  .mackenzie{
    background-color: #1b1464;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .metodologia{
    width: 50%;
    text-align: center;
  }
  .metodologia p{
    color: #FFD700;
    font-weight: 600;
    font-size: 80px;
  }
  .metodologia h5{
    color: #fff;
  }
  .bolsa{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .img_bolsa{
    position: absolute;
    right: 3rem;
  }
  .img_bolsa:hover{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }





  @media (max-width: 440px){

    .hero{
        background-position:center;
        padding: 2rem
      }
      .hero h1{
        font-size: 2.5rem;
        text-align: center;
        margin-bottom: 1rem;
      }
      .hero p{
        font-size: 20px;
        text-align: center;
      }
      .buttonHero{
        width: 80%;
        margin:0 auto 2rem;
  
      }
      .contentCer h1{
        font-size: 2.5rem;
        color:#1b1464 ;
        padding-bottom: 2rem;
      }
      .itensContentCer{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        
      }
      .item{
        width: 80%;
        margin-bottom: 2rem;
      }
      .metodologia{
        padding: 2rem;
        width: 100%;
        text-align: center;
      }
      .metodologia p{
        
        font-weight: 600;
        font-size: 60px;
      }
      .metodo{
        width: 80%;
      }
      .bolsa{
        padding-left: 1rem;
        padding-right: 1rem;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: center;
        align-items: center;
      }
      .img_bolsa{
        text-align: center;
        
      }


  }
