*{
    font-family: 'Bree GRK';
    src: url('/fonts/BreeGRK-Regular.ttf') format('ttf'),
         url('/fonts/BreeGRK-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
  }
  main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    

    
  }
.content_inf{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("/backOne2.png");
    background-size: cover;
    background-position: center;
    width: 100%;
   position: relative;
  }

  .btn_fundMobile{
    display: none;
    width: auto;
    height: auto;
  }
 
  .txtFist{
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 50%;
    padding: 4rem;
    position: relative;
    top: 20px;
    
  }
  .txtFist span{
    font-size: 70px;
    font-weight: bold;
    color:#1b1464 ;
  }
  .txtFist p{
    font-family: Encode Sans, sans-serif;
    font-size: 20px;
  }
  .setBtnFund{
    width: 100%;
  }
  .btn_matriculas{
    position: absolute;
    left: 25%;
    margin-top: 1rem;
    width: 50%;
  }
  .btn_matriculas h1{
    font-size: 24px;
  }
  .img_alunas{
    display: flex;
    z-index: 100;
    width: 380px;
  }
  .direitaFund{
    position: relative;
    display:flex;
    flex-direction:column;
    justify-items:center;
    
  }
  .btn_fund{
    
    margin-top:2rem; 
    margin-Left:25%;
  }
  .containerAlunasBolsa{
    display:flex;
     position:relative;
     padding-top:2rem;
  }

  .img_alunasMobile{
    display: none;
    z-index: 101;
    width: auto;
    height: auto;
  }
  .img_bolsa{
    position: relative;
    margin-top: 15%;
    
    width: 200px;
    height: 180px ;
  }
  .tecnicos22{
    position: absolute;
    bottom: 0;
    z-index: 200;
    width: 100%;
    
}
.tecnicosGeral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-image: url("/backTwo2.png") ;
    background-size: cover;
    position: relative;
    
    padding: 0px;
}
.btnTec{
  width: auto;
  height: auto;
}
.txtTecnico{
    display: flex;
    flex-direction: column;
    justify-items: center;
    position: relative;
    width: 60%;
    
    
}
.txtTecnico span{
    text-align: center;
    
    font-size:80px ; 
    color:#1b1464 ; 
    font-weight:bold ;
    
}
.cursoTecnico{
   
    display:flex;
   
    width:100%;
}
.cursoTecnico p{
    width: 100%;
    font-family: Encode Sans, sans-serif;
    font-size: 20px;
    padding: 1rem;
}

.alunaTec{
   
    width: 250px;
}

.btn_inscricoes{
    display: flex;
    justify-content: center;
    bottom: 2rem;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
  }
  .btn_inscricoes h1{
    font-size: 24px;
  }
.cursoTec{
    width: 250px;
    height: auto;
}
.formularioWhite{
  width: 100%;
  position: relative;
  
}

.formulario{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  
}
.headLine{
  font-size: 70px;
  font-weight: bold;
  color:#1b1464;
  text-align: center;
}


.grupos{
    display: flex;
    
    justify-content: space-between;
    background-color: #1b1464;
    padding: 2rem;
}
.cer{
    display: flex;
    flex-direction: column;
}
.tec{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.quadro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 28%;
    border: 2px solid #0071bc ;
    padding: 1rem;
    margin: 1rem;
}
.quadro span{
    color: #fff;
    font-size: 22px;
}
.quadro h3{
  font-family: Encode Sans, sans-serif;
  color: #fed20b;
}
.escola{
  width: 100%;
    background-image: url("/backThree.png");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    
}
.escolaVemsertableau{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
 
  
  width: 100%;
  
}
.img_vemsertableau{
  width: auto;
  height: auto;
}
.img_vemsertableauMobile{
  display: none;
}
.contadores{
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contagem{
  display: flex;
  flex-wrap: wrap;
  
  margin: 1rem;
  



}
.contagem h1{
  
  color: #fed20b;
  font-size: 80px;
  
  
  
}
.contagem h3{
  font-size: 16px;
  color: #fff;
  font-family: Encode Sans, sans-serif;
 

}
.contagem h2{
  color: #fed20b;
  font-size: 30px;
  
}
.contador_valores{
  display: flex;
  
  flex-direction: column;
  
  
}









@media (max-width:440px){
    .content_inf{
        justify-content: center;
        
      }


    .txtFist{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1000%;
        padding: 1rem;
        position: relative;
        top: 5px;
       
      }
      .txtFist span{
        font-size: 70px;
        line-height: 4.5rem;
        
        text-align: center;
      }
      .txtFist p{
        
        text-align: center;
        color: #1b1464;
        font-size: 14px;
        font-family: Encode Sans, sans-serif;
        font-size: 20px;
      }
      .btn_fundMobile{
        display: flex;
        margin-top: 1rem;
      }
      
      .img_alunasMobile{
        margin-top: 1rem;
        display: flex;
        z-index: 100;
        width: 70%;
        height: auto;
      }
      .img_alunas{
        display: none;
        z-index: 100;
        width: auto;
        height: auto;
        
        
      }

      .btn_matriculas{
        position: absolute;
        left: 10%;
        margin-top: 1rem;
        width: 80%;
      }
      

      .btn_fund{
       display: none;

        
      }
      .img_bolsa{
        margin-bottom: 4rem;
      }
      .tecnicos2{
        position: absolute;
        bottom: 0;
        z-index: 200;
        width: 100%;
    }
    .tecnicosGeral{
        display: flex;
        flex-wrap: wrap;
        justify-items: center;
        align-items: center;
        background-image: url("/backTwo2.png") ;
        background-size: cover;
        
        padding: 0px;
        width: 100%;
    }
    .txtTecnico{
        width: 100%;
        text-align: center;
        
    }
    .txtTecnico span{
        display: none;
    }
    .cursoTecnico{
        
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        
    }
    .cursoTecnico p{
        width: 100%;
        font-family: Encode Sans, sans-serif;
        font-size: 20px;
        color: #1b1464;
        
    }
    
    .alunaTec{
       
        width: 250px;
    }
    .cursoTec{
        width: 250px;
        
    }

    .btn_inscricoes{
        
      }
      .btn_inscricoes h1{
        font-size: 20px;
      }
    .grupos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #1b1464;
        padding: 2rem;
    }
    .areas{
        width: 90%;
    }
    .cer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    .tec{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    
    }
    .quadro{
        width: 80%;
    }
    .quadro span{
        color: #fff;
        font-size: 22px;
        text-align: center;
    }
    .escola{
        background-image: url("/backThree.png");
        background-size: cover;
        background-position: center;
        
    }
    .escolaVemsertableau{
      
      justify-items: center;
      padding-top: 2rem;
      padding-bottom: 2rem;
      
     
      
    }
    .img_vemsertableau{
      display: none;
    }
    .img_vemsertableauMobile{
      display: flex;
      width: 80%;
      
    }
    .contagem{
     width: 90%;
     align-items: center;
     }
     .contador_valores{
      
      width: 80%;
      
      
      
    }
   
}
