@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.log_tableauMobile{
  display: none;
}
.navbar{
  background:#1b1464 ;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
.log_tableau{
  width: auto;
  height: auto;
  
}
.log_mack{
  width: auto;
  height: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media(max-width:440px){
  body{
    background-color: #fed20b;
    margin: 0px;
    padding: 0px;
  }
  .log_tableauMobile{
    display: flex;
    width: 40%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0 auto;
    text-align: center;
    
  }
  .log_tableau{
    
    width: auto;
    height: auto;
  }
  .log_mack{
    width:50%;
   ;
  }
  .navbar{
    
  }
  .log_tableau{
   display: none;
  }
  .btn{
    display: none;
  }
}
